/* Main stylesheet for PAJA
*/

/* Fonts */
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Monsterrat & Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --main-bg-color: #E5D6BD;
}

/* Basic reset */
* { box-sizing: border-box; }
body { margin: 0; padding: 0; font-family: Garamond; color: #13110C; }

.skip { position: absolute; left: -999px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.skip:focus { position: static; left: 0; width: auto; height: auto; }


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align:center;
    margin: 0;
}

h3, h4, h5, h6, p{
    font-family: Garamond, Text,Times, serif; 
    text-align:center;
    margin: 0;
}
a {
    font-family: Garamond, Text, Times, serif;
    text-align:center;
    color: #13110C;
    text-decoration: none;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.2rem;
}
h6, p {
    font-size: 1rem;
}


/* body, div, p, a, h1, h2, h3, h4, h5, h6, img, nav, header {
    border: solid 1px green;
} */

/* Header styles */
header {
    top: 0;
    left: 0;
    background-color: #5087B7;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-gap: 0;

    color: #13110C;
    /* padding: 1rem 0; */
    width: 100%;
    /* position: sticky; */
    padding-left: 14%;
    justify-content: flex-end;
}

#paja-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    /* margin: 5%; */
    padding: .5rem;
    /* object-fit: contain; */
    /* max-height: min-content; */

    background-color: #5087B7;
    border-radius: 50%;
    z-index: 10;
}
header h1 {
    margin: 0;
    height: min-content;
    text-align: center;
    padding: 1rem;

}
nav {
    margin-left: 1rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-content:flex-end;
    justify-content: space-around;
    width: 100%;
    height: min-content;
    /* font-size: 1.7rem; */
    font-weight: bold;
    text-align: end;


}
nav ul li {
    margin: 0;
    padding: 0;
    height: min-content;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
nav ul li a {
    font-size:2.7rem;
}   

.title{
    display: block;
}

/* Content styles */
#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaf1fb;
    
}

/* Footer styles */
footer {
    background-color: #5087B7;
    color: #13110C;
    text-align: center;
/*  position: fixed; */
    padding: 0;
    width: 100%;
    bottom: 0;
    z-index:1;

}
#footer-top {
    background-color: #396287;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
    gap: 1rem;
}
#footer-bottom {
    background-color: #5087B7;
}

/* Vision Styles */

#about {
    display: grid;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: center;
    padding: 2rem;
    gap: 8rem;
    width:80%;
}
#balls-background {
    position: absolute;
    width: 90%;
    justify-self: center;
    /* z-index: 1; */
    top: 750px
}
#mission {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-self: flex-end;
    height: min-content;
    z-index: 1;
}
#mission p, #vision p {
    font-size:2rem;
}
#vision {
    margin-bottom:4rem;
    z-index:1;
    padding-top:2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-self:flex-start;
    height: min-content;
}
#vision a {
    font-size: 1.3rem;
    margin-top: .7rem;
}
#banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#banner img {
    width: 100%;
    object-fit: contain;
}



@media screen and (max-width: 1400px) {
  h1 {
    font-size: 3vw;
}
h2 {
    font-size: 3.5vw;
}
h3 {
    font-size: 2vw;
}
h4 {
    font-size: 1.5vw;
}
h5 {
    font-size: 1.2vw;
}
h6, p {
    font-size: 1vw;
}

#paja-logo {
    width: 20vw
}

nav ul li a {
    font-size:3vw;
}  

#mission p, #vision p {
    font-size:2vw;
}

#fest-promo h2 {
    font-size: 5vw;
}
#fest-promo h4 {
    font-size: 1.9vw;
    width: 37%;
}

}
